a:hover {
    text-decoration: none;
}

img {
    /*所有图片都设置为块，并且是100% 不能超过母元素*/
    display: block;
    max-width: 100%;
    border-radius: 3px;
}


.navbar-brand {
    background-image: url("../img/Beats.png");
    width: 50px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.side-bar .list-group-item {
    /*不要边框*/
    border: 0;
    /*鼠标滑上去的时候有圆角*/
    border-radius: 3px;
    margin-bottom: 5px;
}

.side-bar .list-group-item.active {
    background-color: red;
}

/*设定每个标题的边距*/
.news-list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

/*标题第一条不需要上边距*/
.news-list-item:first-child {
    padding-top: 0;
}


/*定义标题*/
.news-list-item .title {
    display: block;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.5;
}


/*定义当鼠标移动到标题时候的颜色*/
.news-list-item .title:hover {
    color: #337ab7;
}


.news-list-item .info {
    color: #888888;

}


/*定义作者头像大小*/
.avatar {
    display: inline-block;
}

.avatar img {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
